@charset "UTF-8";

/* h1 {
	margin-left : 350px;
} */



#headerlogin {
	
}

.error {
   background-color: rgba(255, 125, 125, 0.7);
   padding: 15px;
   text-align: center;
   margin-top : 15px;
   margin-bottom: 15px;
   border-radius: 15px;
   width : 500px;
   height : 30px;
}  

header {
   width: 100%;
   height: 30px;
   background-color: #ff6060;
   position: fixed;
   top: 0px;
   left: 0px; 
   z-index: 1;
}

section.inline > aside {
   width: 200px;
   background-color: #ddd;
   position: fixed;
   padding-top: 30px;
   padding-bottom: 150px;
   top: 30px;
   bottom: 0px;
   /* overflow-y: scroll; */
}

/* 
section.inline > section {
   position: relative;
   left: 200px;
   padding: 15px;
} */
section.inline{
   overflow-x: hidden;
   margin-top: 40px;
   width: 100%;
}

section.inline > aside,
section.inline > section {
   display: inline-block;
   vertical-align: top;
}

/* input, textarea {
   padding: 10px;
   width: 500px;
   border: 1px solid #bbb;
   border-radius: 7px;
} */

#memberLoginForm input ,
#memberRegistForm input {
	padding: 10px;
   	width: 500px;
  	border: 1px solid #bbb;
  	border-radius: 7px;
}

/* .href {
	margin-left : 350px;
}

.padded, .listpage {
	margin-left : 350px;
} */

#alldiv .listpage > .poster img {
   width: 130px;
   height: 110px;
}


#alldiv{
	margin-left : 350px;
}

.listpage {
	background-color: #e9e9e9;
	border-top: 2px solid rgb(135, 177, 226);
	border-left: 2px solid rgb(135, 177, 226);
}